<!DOCTYPE html>
<html lang="es">

{% extends "layout.html" %}
{% block content %}
      <table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
       <tbody>
        <tr>
          <br>
            <right><h2 ><a href="/nva_carrera">Agregar nueva carrera</a></h2></right>
          <br>
            <h3>Carreras registradas</h3>
            <table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
              <thead>
                <tr>
                  <td style="color:#FFFFFF" bgcolor="262626">Descripcion</td>
                  <td style="color:#FFFFFF" bgcolor="262626"></td>
                  <td style="color:#FFFFFF" bgcolor="262626"></td>
                </tr>
              </thead>
              <tbody>
                {% for nivel in niveles %}
                  <tr>
                    <td style="color:#000000" bgcolor="#FFFFFF">
                      {{ nivel.1 }}
                    </td>
                    <td bgcolor="#129OC2" width="60">
                      <center><a href="/ed_carrera/{{nivel.0}}" style="color:#FFFFFF;">Editar</a>
                    </td>
                    <td  bgcolor="#00C56C" width="60">
                      <center><a href="/bo_carrera/{{nivel.0}}" style="color:#FFFFFF;">Borrar</a>
                    </td>

                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </tr>
      </tbody>
    </table>


{% endblock %}

</html>


