{% extends "layout.html" %}

{% block content %}
            <form action="/modifica_contacto/{{id}}" method="post">
                    {% for nivel in niveles %}
            <div class="form-group col-md-4">
                    </div>
                    <div class="form-group col-md-4">
                        <div class="col">

                  <p><h2> Editar contacto</h2></p>

                  <h4><label for="Nombre">Nombre</label></h4>
                    <input type="text" rows="3" cols="50" class="form-control" id="Nombre" size="55" style="WIDTH: 400px; HEIGHT: 30px" name="Nombre" value="{{nivel.1}}" required>

                  <h4><label for="domicilio">Domicilio</label></h4>
                    <input type="text" rows="3" cols="50" class="form-control" id="domicilio" size="55" style="WIDTH: 400px; HEIGHT: 30px" name="domicilio"  value="{{nivel.2}}" required>


                  <h4><label for="razonsocial">Razon Social</label></h4>
                    <input type="text" rows="3" cols="50" class="form-control" id="razonsocial" size="55" style="WIDTH: 400px; HEIGHT: 30px" name="razonsocial" value="{{nivel.3}}" required>

                  <h4><label for="Numero">Telefono</label></h4>
                    <input type="text" rows="3" cols="50" class="form-control" id="Numero" size="55" style="WIDTH: 400px; HEIGHT: 30px" name="Numero"  value="{{nivel.4}}" pattern="[0-9]{10}" required>


                {% endfor %}
                <br>


              <button type="submit" class="btn btn-primary">Actualiza</button>

                    </div>
              </div>
            </form>

{% endblock %}