{% extends "layout.html" %}
{% block content %}
<body>
    <form action="/edita_solicitud/{{solicitud.0[0]}}" method="post">


            <p><h2>Solicitud</h2></p>
            <table>
  <tr>
        <td>
                  <p><h4>Fecha de solicitud</h4></p>


            <input type="date"  name="Fecha" value="{{solicitud.0[1]}}" required>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
 </td>
 <td>
      <p><h4>Vacantes</h4></p>

            <input type="text"  name="vacantes" value="{{solicitud.0[2]}}" required >
     </td>

    </tr>

</table>
<br>
<br>
         <table>
            <td>
              <center><h4><a>Area</a></h4></center>
            <select style="background-color: #38E82A; color: #FAFAFA; width:500px"  id="area" name="area" class="form-control">

                {% for area in areas %}
                {% if solicitud.0[3] ==area.0 %}
                 <option selected="true"  style="background-color: #FFFFFF; color:#000000" value="{{area.0}}">{{area.1}}</option>
                {% else %}
                 <option style="background-color: #FFFFFF; color:#000000" value="{{area.0}}">{{area.1}}</option>
                 {% endif %}
                {% endfor %}

            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <center><h4><a>Puesto</a></h4></center>
                    <select style="background-color: #1290C2; color: #FAFAFA; width:500px"  id="puesto" name="puesto" class="form-control">

                        {% for puesto in puestos %}
                          {% if solicitud.0[4] ==puesto.0 %}
                 <option selected="true"  style="background-color: #FFFFFF; color:#000000" value="{{puesto.0}}">{{puesto.1}}</option>
                        {% else %}

                         <option style="background-color: #FFFFFF; color:#000000" value="{{puesto.0}}">{{puesto.1}}</option>
                        {% endif %}
                {% endfor %}

                                    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</td>
<td>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</td>

<td>
 <center><h4><a>Carrera</a></h4></center>

                <select  style="background-color: #1290C2; color: #FAFAFA; width:500px"  id="Carrera" name="Carrera" class="form-control">

                    {% for carrera in carreras %}
                     {% if solicitud.0[7] ==carrera.0 %}
                 <option selected="true"  style="background-color: #FFFFFF; color:#000000" value="{{carrera.0}}">{{carrera.1}}</option>
                        {% else %}
                     <option style="background-color: #FFFFFF; color:#000000"value="{{carrera.0}}">{{carrera.1}}</option>
                     {% endif %}
                    {% endfor %}

                </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <center><h4><a>Nivel Academico</a></h4></center>
            <select style="background-color:#38E82A;  color: #FAFAFA; width:500px"  id="nivel" name="nivel" class="form-control">

                {% for nivel in niveles %}
                {% if solicitud.0[6] ==nivel.0 %}
                 <option selected="true"  style="background-color: #FFFFFF; color:#000000" value="{{nivel.0}}">{{nivel.1}}</option>
                        {% else %}
                 <option style="background-color: #FFFFFF; color:#000000"value="{{nivel.0}}">{{nivel.1}}</option>
                   {% endif %}
                {% endfor %}
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</td>
</table>
<table>
<td>
  <center><h4><a>Estatus </a></h4></center>

<select  style="background-color:#38E82A;  color: #FAFAFA; width:500px" id="estatus" name="estatus" class="form-control">

                    {% for estatus in estatuses %}
                     {% if solicitud.0[5] ==estatus.0 %}
                 <option selected="true"  style="background-color: #FFFFFF; color:#000000" value="{{estatus.0}}">{{estatus.1}}</option>
                        {% else %}
                     <option style="background-color: #FFFFFF; color:#000000"value="{{estatus.0}}">{{estatus.1}}</option>
                     {% endif %}
                    {% endfor %}

                </select>
                </table>
  </td>

<br>

            <br>
            <br>
            <button class="btn btn-primary">Aceptar</button>


     </form>

{% endblock %}