{% extends "layout.html" %}

{% block content %}
      <table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
       <tbody>
        <tr>
          <td  bgcolor="#FFFFFF" valign="top">
            <br>
            <right><h2><a href="/nvo_funcion">Agregar nueva función</a></h2></right>
            <br>
            <h3>Funciones registradas</h3>
            <table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
              <thead>
                <tr>
                  <td style="color:#FFFFFF" bgcolor="262626">Descripcion</td>
                    <td style="color:#FFFFFF" bgcolor="262626"></td>
                    <td style="color:#FFFFFF" bgcolor="262626"></td>
                </tr>
              </thead>
              <tbody>
                {% for dato in datos %}
                  <tr>
                    <td>
                      {{ dato.1 }}
                    </td>
                    <td bgcolor="#129OC2" width="60">
                      <center><a  style="color:#FFFFFF;" href="/ed_funcion/{{dato.0}}" >Editar</a></center>
                    </td>
                    <td  bgcolor="#00C56C"  width="60">
                      <center><a  style="color:#FFFFFF;" href="/bo_funcion/{{dato.0}}" >Borrar</a></center>
                    </td>

                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>




{% endblock %}
